.Nav {
  position: relatve;
}

.Nav .nav {
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.Nav .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.Nav .nav-left {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  color: var(--green);
}

.Nav .nav-center {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.Nav .nav-itens {
  display: flex;
  list-style: none;
  font-size: 16px;
  line-height: 170%;
}

.Nav .nav-itens a {
  display: flex;
  gap: 8px;
  font-family: "Inter";
  text-decoration: none;
  color: var(--black);
  padding: 4px 8px 4px 8px;
}

.Nav .nav-right {
  display: flex;
  gap: 16px;
}

.Nav nav .nav-center li a:hover {
  background-color: var(--grey);
  border-radius: 4px;
  size: 100%;
}

.Nav nav .nav-right .button-open-account:hover {
  background-color: #438677;
}
